<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add</title>
</head>
<body>
    <h1>Add New User :</h1>
    <form method="POST" action="/user/add?_method=PUT">
        <input type="text" placeholder="username" name="name"><br>
        <input type="text" placeholder="E-mail" name="email"><br>
        <input type="password" placeholder="Password" name="password"><br>
        <button>submit</button>
    </form>
</body>
</html>