<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Back-end</title>
</head>
<body>
    <h1>Hello there</h1>
    <h3><%= 13*12 %></h3>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse possimus consectetur non repudiandae recusandae minus odio temporibus, aliquid, accusamus, velit veritatis doloremque expedita perferendis sequi. Labore rem ipsa quis! Voluptatem!</p>
    <button>click me</button>
</body>
</html>